body {
  background:#111;
  color:#fff;
  font-family:system-ui;
  margin:0;
  text-align:center;
}
header {
  padding:12px;
  background:#1b1b1b;
}
section {
  padding:10px;
}
#palette {
  display:flex;
  gap:10px;
  justify-content:center;
  flex-wrap:wrap;
}
.tile {
  width:40px;
  height:40px;
  border:2px solid #444;
}
canvas {
  width:100%;
  height:60vh;
  background:#222;
  touch-action:none;
}
