
body {
  background:#111;
  color:white;
  font-family:sans-serif;
  text-align:center;
}

.toolbar {
  margin:10px;
}

#tiles {
  display:flex;
  justify-content:center;
  gap:10px;
  margin-bottom:10px;
}

.tile {
  width:32px;
  height:32px;
  border:2px solid #555;
  cursor:pointer;
}

canvas {
  background:#222;
  border:2px solid #555;
}
