body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #111;
  color: #fff;
}

.top {
  padding: 12px;
  background: #000;
  text-align: center;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  background: #1b1b1b;
}

button {
  background: #333;
  color: white;
  border: none;
  padding: 12px;
  flex: 1;
}

main {
  padding: 16px;
}
